/* --------------- Layout ------------ */
body{
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
}
#header{
    background-color: #ffffff;
    height: 65px;
    position: relative;
    text-align: left;
}
.fullBg {
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.item-list ul{
    list-style: none;
}
img{
    opacity: 1;
}

/* --------------- Logo ------------ */
#logo{
    float: left;
    padding: 10px 0px 0px 10px;
    margin-right: 15px;
}
/* --------------- Main Menu ------------ */
#menu-wrapper {
    border-bottom: 1px solid #bfbfbf;
    height: 39px;
    line-height: 38px;
    display: block;
    overflow: hidden;
}
#main-menu {
    float: left;
}
#main-menu-links {
    margin: 0;
    padding: 0;
}
#main-menu-links li {
    float: left; /* LTR */
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0px;
    display: block;
    overflow: hidden;
}
#block-locale-language a{
    color: #000000;
}
#main-menu-links a {
    color: #6e6e70;
    float: left; /* LTR */
    text-decoration: none;
    padding: 0px 10px 0;
}
#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active{
    text-decoration: none;
    color: #ffffff;
}

#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active,
.page-tnid-1 #main-menu-links a:hover,
.page-tnid-1 #main-menu-links a:focus,
.page-tnid-1 #main-menu-links a.active{
    background: url("../images/color_menu01.png") repeat-x left bottom #ee1997;
}
.page-tnid-4 #main-menu-links a:hover,
.page-tnid-4 #main-menu-links a:focus,
.page-tnid-4 #main-menu-links a.active{
    background: url("../images/color_menu02.png") repeat-x left bottom #ee1997;
}
.page-tnid-20 #main-menu-links a:hover,
.page-tnid-20 #main-menu-links a:focus,
.page-tnid-20 #main-menu-links a.active{
    background: url("../images/color_menu03.png") repeat-x left bottom #ee1997;
}
.page-tnid-21 #main-menu-links a:hover,
.page-tnid-21 #main-menu-links a:focus,
.page-tnid-21 #main-menu-links a.active{
    background: url("../images/color_menu05.png") repeat-x left bottom #ee1997;
}
.page-tnid-22 #main-menu-links a:hover,
.page-tnid-22 #main-menu-links a:focus,
.page-tnid-22 #main-menu-links a.active{
}
.page-tnid-23 #main-menu-links a:hover,
.page-tnid-23 #main-menu-links a:focus,
.page-tnid-23 #main-menu-links a.active{
    background: url("../images/color_menu04.png") repeat-x left bottom #ee1997;
}


/* --------------- Secondary Menu ------------ */
#secondary-menu-links {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
    width: 30px;
    position: fixed;
    left: 0;
    top: 150px;
}
#secondary-menu-links li {
    list-style: none;
    margin: 0px;
    padding: 0px;
    display: block;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: top left;
    margin-bottom: 20px;
}
#secondary-menu-links a {
    color: #000000;
    text-decoration: none;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus,
#secondary-menu-links a.active{
    background: #000000;
    text-decoration: none;
    color: #ffffff;
}
#secondary-menu-links li li.active{
    background: none;
    border: none;
}
#secondary-menu-links li.active a,
#secondary-menu-links li a:hover{
    background-position: -30px 0px;
    text-decoration: none;
    background-color: transparent;
}
#secondary-menu-links li a{
    display: block;
    overflow: hidden;
    width: 29px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
    text-indent: -4000px;
    height: 100%;
}

#secondary-menu-links li.menu-623 a{
    background-image: url("../images/tab_ca_lateral_0.png");
    height: 126px;
}
#secondary-menu-links li.menu-622 a{
    background-image: url("../images/tab_ca_lateral_1.png");
    height: 78px;
}
#secondary-menu-links li.menu-613 a{
    background-image: url("../images/tab_ca_lateral_2.png");
    height: 91px;
}
#secondary-menu-links li.menu-437 a{
    background-image: url("../images/tab_es_lateral_0.png");
    height: 126px;
}
#secondary-menu-links li.menu-624 a{
    background-image: url("../images/tab_es_lateral_1.png");
    height: 78px;
}
#secondary-menu-links li.menu-673 a{
    background-image: url("../images/tab_en_lateral_0.png");
    height: 126px;
}
#secondary-menu-links li.menu-672 a{
    background-image: url("../images/tab_en_lateral_1.png");
    height: 78px;
}

/* --------------- Header ------------ */
.region-header{
    float: right;
    line-height: 25px;
}
#block-locale-language ul li{
    float: left;
    list-style: none;
    padding: 0 15px 0 0;
    display: block;
    overflow: hidden;
}
#block-locale-language ul li.active{
    font-weight: bold;
}
#block-locale-language ul li a{
    text-decoration: none;
}
/* --------------- Main wrapper ------------ */
h1.title{
    padding: 0px;
    font-family: Georgia, Verdana;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
    opacity: 0.9;
}
h2{
    padding: 0px;
    font-family: Georgia, Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 0;
    opacity: 0.9;
}
.node-blog h2{
    margin: 10px 0;
}
a,
a:visited,
a:active{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.submitted{
    margin-bottom: 10px;
}
.field-type-image {
    display: block;
    overflow: hidden;
}
.field-type-image img{
    float: left;
    padding: 6px;
    background: #ffffff;
}
.field-name-field-tags .field-item{
    float: left;
    margin-right: 5px;
}
.field-name-field-tags .field-item a{
    text-decoration: underline;
}
.form-item{
    padding: 5px 0px;
    margin: 0 !important;
}
.node-page .content{
    display: block;
    overflow: hidden;
}
ul.links .node-readmore{
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 5px 0 0 0;
}
#main-wrapper {
    position: relative;
}
#content{
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 260px;
    top: -10px;
    width: 355px;
}
#content .section{
    color: #ffffff;
    margin-left: 11px;
    margin-top: 10px;
    opacity: 0.9;
    padding: 5px 10px;
    background: #bbbbbb;
}
#content-right {
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 632px;
    position: absolute;
    top: -10px;
    width: 386px;
}
#content-right .section {
    margin: 10px 0 0 11px;
    color: #000000;
    opacity: 0.9;
}

/* --------------- Specific content section ------------ */
/* --------------- Proyecto ------------ */
.page-tnid-1 #content{
    background-image: url("../images/top_proyecto_1.png");
}
.page-tnid-1 #content .section{
    background-color: #ee1997;
}
/* --------------- Masia ------------ */
.page-tnid-4 #content {
    background-image: url("../images/top_masia_1.png");
}
.page-tnid-4 #content .section{
    background-color: #0fb69a;
    color: #000000;
}
.page-tnid-4 #content-right {
    background-image: url("../images/top_masia_2.png");
}
.page-tnid-4 .quicktabs_main{
    background: #a5a87b;
}
#quicktabs-tab-ca_la_masia-0{
    height: 97px;
    background-image: url(../images/tabs/tab_ca_masia_0.png);
}
#quicktabs-tab-ca_la_masia-1{
    height: 70px;
    background-image: url(../images/tabs/tab_ca_masia_1.png);
}
#quicktabs-tab-ca_la_masia-2{
    height: 103px;
    background-image: url(../images/tabs/tab_ca_masia_2.png);
}
#quicktabs-tab-ca_la_masia-3{
    height: 70px;
    background-image: url(../images/tabs/tab_ca_masia_3.png);
}
#quicktabs-tab-es_la_masia-0{
    height: 97px;
    background-image: url(../images/tabs/tab_es_masia_0.png);
}
#quicktabs-tab-es_la_masia-1{
    height: 70px;
    background-image: url(../images/tabs/tab_es_masia_1.png);
}
#quicktabs-tab-es_la_masia-2{
    height: 103px;
    background-image: url(../images/tabs/tab_es_masia_2.png);
}
#quicktabs-tab-es_la_masia-3{
    height: 70px;
    background-image: url(../images/tabs/tab_es_masia_3.png);
}
#quicktabs-tab-en_la_masia-0{
    height: 97px;
    background-image: url(../images/tabs/tab_en_masia_0.png);
}
#quicktabs-tab-en_la_masia-1{
    height: 70px;
    background-image: url(../images/tabs/tab_en_masia_1.png);
}
#quicktabs-tab-en_la_masia-2{
    height: 103px;
    background-image: url(../images/tabs/tab_en_masia_2.png);
}
#quicktabs-tab-en_la_masia-3{
    height: 70px;
    background-image: url(../images/tabs/tab_en_masia_3.png);
}

/* --------------- Quienes somos ------------ */
.page-tnid-13 #content {
    width: 477px;
}
.page-tnid-13 #content .section{
    color: #000000;
}
/* --------------- Sala gran ------------ */
.page-tnid-20 h1 {
    color: #f8a849;
}
.page-tnid-20 #content {
    background-image: url("../images/top_sala_gran_1.png");
}
.page-tnid-20 #content .section{
    background-color: #d2743e;
    color: #000000;
}
.page-tnid-20 h2 {
    color: #d2743e;
}
.page-tnid-20 #content-right {
    background-image: url("../images/top_sala_gran_2.png");
}
.page-tnid-20 #content-right .quicktabs_main.quicktabs-style-navlist{
    min-height: 371px;
}
.page-tnid-20 .quicktabs_main{
    background: #f8a849;
}
#quicktabs-tab-ca_sala_gran-0{
    height: 104px;
    background-image: url(../images/tabs/tab_ca_sales_0.png);
}
#quicktabs-tab-ca_sala_gran-1{
    height: 77px;
    background-image: url(../images/tabs/tab_ca_sales_1.png);
}
#quicktabs-tab-ca_sala_gran-2{
    height: 104px;
    background-image: url(../images/tabs/tab_ca_sales_2.png);
}
#quicktabs-tab-ca_sala_gran-3{
    height: 104px;
    background-image: url(../images/tabs/tab_ca_sales_3.png);
}
#quicktabs-tab-es_sala_gran-0{
    height: 104px;
    background-image: url(../images/tabs/tab_es_sales_0.png);
}
#quicktabs-tab-es_sala_gran-1{
    height: 77px;
    background-image: url(../images/tabs/tab_es_sales_1.png);
}
#quicktabs-tab-es_sala_gran-2{
    height: 104px;
    background-image: url(../images/tabs/tab_es_sales_2.png);
}
#quicktabs-tab-es_sala_gran-3{
    height: 104px;
    background-image: url(../images/tabs/tab_es_sales_3.png);
}
#quicktabs-tab-en_sala_gran-0{
    height: 104px;
    background-image: url(../images/tabs/tab_en_sales_0.png);
}
#quicktabs-tab-en_sala_gran-1{
    height: 77px;
    background-image: url(../images/tabs/tab_en_sales_1.png);
}
#quicktabs-tab-en_sala_gran-2{
    height: 104px;
    background-image: url(../images/tabs/tab_en_sales_2.png);
}
#quicktabs-tab-en_sala_gran-3{
    height: 104px;
    background-image: url(../images/tabs/tab_en_sales_3.png);
}

/* --------------- Recessos ------------ */
.page-tnid-21 #content {
    background-image: url("../images/top_recessos_1.png");
    width: 361px;
}
.page-tnid-21 #content .section{
    background-color: #5fa5d8;
}
.page-tnid-21 #content-right{
    background-image: url("../images/top_blog_2.png");
}
.page-tnid-21 #content-right .quicktabs_main.quicktabs-style-navlist{
    min-height: 536px;
}
.page-tnid-21 .quicktabs_main{
    background-color: #f58a9e;;
}
#quicktabs-tab-ca_retiros-0{
    height: 65px;
    background-image: url("../images/tabs/tab_ca_retiros_0.png");
}
#quicktabs-tab-ca_retiros-1{
    height: 118px;
    background-image: url("../images/tabs/tab_ca_retiros_1.png");
}
#quicktabs-tab-ca_retiros-2{
    height: 86px;
    background-image: url("../images/tabs/tab_ca_retiros_2.png");
}
#quicktabs-tab-ca_retiros-3{
    height: 65px;
    background-image: url("../images/tabs/tab_ca_retiros_3.png");
}
#quicktabs-tab-ca_retiros-4{
    height: 103px;
    background-image: url("../images/tabs/tab_ca_retiros_4.png");
}
#quicktabs-tab-ca_retiros-5{
    height: 118px;
    background-image: url("../images/tabs/tab_ca_retiros_5.png");
}
#quicktabs-tab-es_retiros-0{
    height: 65px;
    background-image: url("../images/tabs/tab_es_retiros_0.png");
}
#quicktabs-tab-es_retiros-1{
    height: 118px;
    background-image: url("../images/tabs/tab_es_retiros_1.png");
}
#quicktabs-tab-es_retiros-2{
    height: 86px;
    background-image: url("../images/tabs/tab_es_retiros_2.png");
}
#quicktabs-tab-es_retiros-3{
    height: 65px;
    background-image: url("../images/tabs/tab_es_retiros_3.png");
}
#quicktabs-tab-es_retiros-4{
    height: 103px;
    background-image: url("../images/tabs/tab_es_retiros_4.png");
}
#quicktabs-tab-es_retiros-5{
    height: 118px;
    background-image: url("../images/tabs/tab_es_retiros_5.png");
}
#quicktabs-tab-en_retiros-0{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_0.png");
}
#quicktabs-tab-en_retiros-1{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_1.png");
}
#quicktabs-tab-en_retiros-2{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_2.png");
}
#quicktabs-tab-en_retiros-3{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_3.png");
}
#quicktabs-tab-en_retiros-4{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_4.png");
}
#quicktabs-tab-en_retiros-5{
    height: 70px;
    background-image: url("../images/tabs/tab_en_retiros_5.png");
}

/* --------------- Huerto ------------ */
.page-tnid-22 #content {
}
.page-tnid-22 #content .section{
    background-color: #896632;
}
.page-tnid-22 #content-right{
}
.page-tnid-22 #content-right .quicktabs_main.quicktabs-style-navlist{
    min-height: 357px;
}
.page-tnid-22 .quicktabs_main{
    background-color: #8b8d09;;
}
#quicktabs-tab-ca_huerto-0{
    height: 81px;
    background-image: url(../images/tabs/tab_ca_huerto_0.png);
}
#quicktabs-tab-ca_huerto-1{
    height: 94px;
    background-image: url(../images/tabs/tab_ca_huerto_1.png);
}
#quicktabs-tab-ca_huerto-2{
    height: 103px;
    background-image: url(../images/tabs/tab_ca_huerto_2.png);
}
#quicktabs-tab-ca_huerto-3{
    height: 79px;
    background-image: url(../images/tabs/tab_ca_huerto_3.png);
}
#quicktabs-tab-es_huerto-0{
    height: 81px;
    background-image: url(../images/tabs/tab_es_huerto_0.png);
}
#quicktabs-tab-es_huerto-1{
    height: 94px;
    background-image: url(../images/tabs/tab_es_huerto_1.png);
}
#quicktabs-tab-es_huerto-2{
    height: 103px;
    background-image: url(../images/tabs/tab_es_huerto_2.png);
}
#quicktabs-tab-es_huerto-3{
    height: 79px;
    background-image: url(../images/tabs/tab_es_huerto_3.png);
}
#quicktabs-tab-en_huerto-0{
    height: 81px;
    background-image: url(../images/tabs/tab_en_huerto_0.png);
}
#quicktabs-tab-en_huerto-1{
    height: 94px;
    background-image: url(../images/tabs/tab_en_huerto_1.png);
}
#quicktabs-tab-en_huerto-2{
    height: 103px;
    background-image: url(../images/tabs/tab_en_huerto_2.png);
}
#quicktabs-tab-en_huerto-3{
    height: 79px;
    background-image: url(../images/tabs/tab_en_huerto_3.png);
}


/* --------------- Alimentacion ------------ */
.page-tnid-23 h1{
    color: #b18eaf;
}
.page-tnid-23 #content {
    background-image: url("../images/top_alimentacio_1.png");
    width: 287px;
    left: 200px;
}
.page-tnid-23 #content .section{
    background-color: #813689;
    margin-left: 10px;
}
.page-tnid-23 h2{
    color: #7f2f84;
}
.page-tnid-23 #content-right {
    background-image: url("../images/top_alimentacio_2.png");
    left: 506px;
}
.page-tnid-23 #content-right .quicktabs_main.quicktabs-style-navlist{
    min-height: 501px;
}
.page-tnid-23 .quicktabs_main{
    background: #b89ab6;
}
.page-tnid-23 #sidebar-second{
    left: 910px;
}
#quicktabs-tab-ca_alimentacio-0{
    height: 79px;
    background-image: url("../images/tabs/tab_ca_alimentacio_0.png");
}
#quicktabs-tab-ca_alimentacio-1{
    height: 95px;
    background-image: url("../images/tabs/tab_ca_alimentacio_1.png");
}
#quicktabs-tab-ca_alimentacio-2{
    height: 82px;
    background-image: url("../images/tabs/tab_ca_alimentacio_2.png");
}
#quicktabs-tab-ca_alimentacio-3{
    height: 82px;
    background-image: url("../images/tabs/tab_ca_alimentacio_3.png");
}
#quicktabs-tab-ca_alimentacio-4{
    height: 86px;
    background-image: url("../images/tabs/tab_ca_alimentacio_4.png");
}
#quicktabs-tab-ca_alimentacio-5{
    height: 95px;
    background-image: url("../images/tabs/tab_ca_alimentacio_5.png");
}
#quicktabs-tab-es_alimentacio-0{
    height: 79px;
    background-image: url("../images/tabs/tab_es_alimentacio_0.png");
}
#quicktabs-tab-es_alimentacio-1{
    height: 95px;
    background-image: url("../images/tabs/tab_es_alimentacio_1.png");
}
#quicktabs-tab-es_alimentacio-2{
    height: 82px;
    background-image: url("../images/tabs/tab_es_alimentacio_2.png");
}
#quicktabs-tab-es_alimentacio-3{
    height: 82px;
    background-image: url("../images/tabs/tab_es_alimentacio_3.png");
}
#quicktabs-tab-es_alimentacio-4{
    height: 86px;
    background-image: url("../images/tabs/tab_es_alimentacio_4.png");
}
#quicktabs-tab-es_alimentacio-5{
    height: 95px;
    background-image: url("../images/tabs/tab_es_alimentacio_5.png");
}
#quicktabs-tab-en_alimentacio-0{
    height: 79px;
    background-image: url("../images/tabs/tab_en_alimentacio_0.png");
}
#quicktabs-tab-en_alimentacio-1{
    height: 95px;
    background-image: url("../images/tabs/tab_en_alimentacio_1.png");
}
#quicktabs-tab-en_alimentacio-2{
    height: 82px;
    background-image: url("../images/tabs/tab_en_alimentacio_2.png");
}
#quicktabs-tab-en_alimentacio-3{
    height: 82px;
    background-image: url("../images/tabs/tab_en_alimentacio_3.png");
}
#quicktabs-tab-en_alimentacio-4{
    height: 86px;
    background-image: url("../images/tabs/tab_en_alimentacio_4.png");
}
#quicktabs-tab-en_alimentacio-5{
    height: 95px;
    background-image: url("../images/tabs/tab_en_alimentacio_5.png");
}
.node-full-tnid-82 h2{
    margin-bottom: 10px;
}
/* --------------- Contacto ------------ */
.page-tnid-29 h1{
    color: #226168;
}
.page-tnid-29 #content {
    background-image: url("../images/top_contacto_2.png");
    width: 330px;
}
.page-tnid-29 #content .section{
    background-color: #fefbda;
    color:#000000;
}
.page-tnid-29 #content .section a{
    color:#000000;
}
.page-tnid-29 #content-right h2{
    color: #eeefd0;
}
.page-tnid-29 #content-right {
    background-image: url("../images/top_contacto_1.png");
    width: 191px;
}
.page-tnid-29 #content-right .section {
    color: #ffffff;
    background-color: #24646d;
    color: #000000;
    margin-left: 12px;
    margin-top: 10px;
    opacity: 0.9;
    padding: 10px;
    display: block;
    overflow: hidden;
}
.page-tnid-29 hr {
    border: none;
    height: 1px;
    color: #b9b49e;
    background-color: #b9b49e;
}
.page-tnid-29 .field-type-image{
    float: left;
}
.page-tnid-29 .field-type-file{
    float: left;
    margin: 33px 0 0 20px;
}

/* --------------- Newsletter ------------ */
.page-newsletter-subscribe h1{
    margin-bottom: 10px;
}
.page-newsletter-subscribe #content{
    background-image: url("../images/top_newsletter_1.png");
}
.page-newsletter-subscribe #content .section{
    background-color: #c6d12b;
}
#newsletter-manage-subscriptions-form #edit-email{
    width: 90%;
}
#newsletter-manage-subscriptions-form fieldset{
    border: 1px solid #ffffff;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/* --------------- Blog, tags ------------ */
.node-type-blog h1,
.page-taxonomy h1,
.page-comment h1,
.page-blog h1{
    /*color: #fbeecb;*/
    color: #000000;
    margin-bottom: 10px;
}
.node-type-blog #content a,
.page-taxonomy #content a,
.page-comment #content a,
.page-blog #content a{
    color: #000000;
}
.node-type-blog #content,
.page-taxonomy #content,
.page-comment #content,
.page-blog #content{
    /*background-image: url("../images/top_blog_1.png");*/
    background-image: url("../images/top_contacto_2.png");
    left: 150px;
    width: 525px;
}
.node-type-blog #content .section,
.page-taxonomy #content .section,
.page-comment #content .section,
.page-blog #content .section{
    /*background-color: #c2543d;*/
    background-color: #ffffff;
    color:#000000;
}
.node-type-blog #content-right a,
.page-taxonomy #content-right a,
.page-comment #content-right a,
.page-blog #content-right a,
.node-type-blog #content-right span,
.page-taxonomy #content-right span,
.page-comment #content-right span,
.page-blog #content-right span{
    color: #fefbda;
}
.node-type-blog #content-right,
.page-taxonomy #content-right,
.page-comment #content-right,
.page-blog #content-right{
    background-image: url("../images/top_blog_2.png");
    width: 191px;
    left: 700px;
}
.node-type-blog #content-right .section,
.page-taxonomy #content-right .section,
.page-comment #content-right .section,
.page-blog #content-right .section{
    background-color: #f58a9e;
    color: #ffffff;
    padding: 10px;
}
.page-blog .item-list ul li.views-row,
.page-taxonomy .node-blog.node-teaser{
    padding: 0 0 10px 0;
    margin: 0;
    /*border-bottom: 1px solid #ffffff;*/
    border-bottom: 1px solid #24646d;
}
.field-name-field-tags{
    display: block;
    overflow: hidden;
    margin-bottom: 10px;
}
.node-blog .field-type-image img{
    border: 1px solid #e5e5e5;
    padding: 2px;
    background: none;
}
.node-blog.node-teaser .field-name-field-main-image{
    float: right;
    margin-left: 10px;
    margin-bottom: 10px;
}

.comment {
    border: 1px outset #fbeecb;
    display: inline-block;
    padding: 6px;
    -khtml-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.comment span.new{
    color: #ff0000;
    float: right;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
}
.comment h3{
    margin: 0 0 5px 0;
}
.filter-wrapper{
    border: none;
    margin: 0;
    padding: 0px;
    font-style: italic;
}
.filter-wrapper .filter-guidelines,
.filter-wrapper .filter-guidelines ul.tips{
    margin: 0;
    padding: 0;
    list-style: none;
}
.filter-wrapper .form-item,
.filter-help{
    display: none;
}

/* --------------- Other pages ------------ */
.page-user #content{
    width: 500px;
}

/* --------------- Sidebars ------------ */
#sidebar-first {
    width: 200px;
}
#sidebar-second {
    width: 200px;
    position: absolute;
    top: 5px;
    /* right: 10px; */
    left: 845px;
}

/* --------------- Quicktabs ------------ */
.quicktabs-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.quicktabs-wrapper .quicktabs_main{
    padding: 10px;
}
.quicktabs-tabs li{
    margin: 0px 0px 4px 0px;
    padding: 0px;
    background-image: none;
}
.quicktabs_main.quicktabs-style-navlist{
    border: none;
    width: 88%;
}
ul.quicktabs-tabs.quicktabs-style-navlist{
    width: 22px;
}
ul.quicktabs-tabs.quicktabs-style-navlist li{
    margin: 0;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active{
    background: none;
    border: none;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a,
ul.quicktabs-tabs.quicktabs-style-navlist li a:hover{
    background-position: -22px 0px;
    text-decoration: none;
}
ul.quicktabs-tabs.quicktabs-style-navlist li a{
    display: block;
    overflow: hidden;
    width: 11px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
    text-indent: 4000px;
}

/* --------------- TagClouds block ------------ */
.block-tagclouds h2{
    margin: 10px 0px;
}
.block-tagclouds span{
    width: 100%;
    display: block;
    overflow: hidden;
}
/* --------------- Newsletter & nice messages ------------ */
.jGrowl,
#jGrowl .jGrowl-notification{
    color: #000000;
}
.jGrowl-closer{
    color: #ffffff !important;
}

.nl-wrapper-hidden{
    display: none;
}
.newsletter-button {
    color: #ffffff;
    cursor: pointer;
}
#newsletter-error{
    color: #ffffff;
    margin-bottom: 10px;
}

/* --------------- Footer ------------ */

#footer img{
    position: fixed;
    bottom: 0px;
}
#footer img.anton{
    left: 310px;
}
#footer img.laura{
    left: 580px;
}
