/* --------------- Layout ------------ */
body{
    padding: 0;
    margin: 0;
    color: #000000;
    font-family: Verdana;
    font-size: 11px;
    font-weight: normal;
}
#header{
    background-color: #ffffff;
    height: 65px;
    position: relative;
    text-align: left;
}
.fullBg {
    left: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
}
.item-list ul{
    list-style: none;
}

/* --------------- Logo ------------ */
#logo{
    float: left;
    padding: 10px 0px 0px 10px;
    margin-right: 15px;
}
/* --------------- Main Menu ------------ */
#menu-wrapper {
    border-bottom: 1px solid #bfbfbf;
    height: 39px;
    line-height: 38px;
    display: block;
    overflow: hidden;
}
#main-menu {
    float: left;
}
#main-menu-links {
    margin: 0;
    padding: 0;
}
#main-menu-links li {
    float: left; /* LTR */
    list-style: none;
    padding: 0 15px 0 0;
    margin: 0px;
    display: block;
    overflow: hidden;
}
#block-locale-language a{
    color: #000000;
}
#main-menu-links a {
    color: #6e6e70;
    float: left; /* LTR */
    text-decoration: none;
    padding: 0px 10px 0;
}
#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active{
    text-decoration: none;
    color: #ffffff;
}

#main-menu-links a:hover,
#main-menu-links a:focus,
#main-menu-links a.active,
.page-tnid-1 #main-menu-links a:hover,
.page-tnid-1 #main-menu-links a:focus,
.page-tnid-1 #main-menu-links a.active{
    background: url("../images/color_menu01.png") repeat-x left bottom #ee1997;
}
.page-tnid-4 #main-menu-links a:hover,
.page-tnid-4 #main-menu-links a:focus,
.page-tnid-4 #main-menu-links a.active{
    background: url("../images/color_menu02.png") repeat-x left bottom #ee1997;
}
.page-tnid-20 #main-menu-links a:hover,
.page-tnid-20 #main-menu-links a:focus,
.page-tnid-20 #main-menu-links a.active{
    background: url("../images/color_menu03.png") repeat-x left bottom #ee1997;
}
.page-tnid-21 #main-menu-links a:hover,
.page-tnid-21 #main-menu-links a:focus,
.page-tnid-21 #main-menu-links a.active{
    background: url("../images/color_menu05.png") repeat-x left bottom #ee1997;
}
.page-tnid-22 #main-menu-links a:hover,
.page-tnid-22 #main-menu-links a:focus,
.page-tnid-22 #main-menu-links a.active{
}
.page-tnid-23 #main-menu-links a:hover,
.page-tnid-23 #main-menu-links a:focus,
.page-tnid-23 #main-menu-links a.active{
    background: url("../images/color_menu04.png") repeat-x left bottom #ee1997;
}


/* --------------- Secondary Menu ------------ */
#secondary-menu-links {
    margin: 0;
    padding: 0;
    display: block;
    overflow: hidden;
}
#secondary-menu-links li {
    list-style: none;
    margin: 0px;
    display: block;
    overflow: hidden;
}
#secondary-menu-links a {
    color: #000000;
    text-decoration: none;
}
#secondary-menu-links a:hover,
#secondary-menu-links a:focus,
#secondary-menu-links a.active{
    background: #000000;
    text-decoration: none;
    color: #ffffff;
}

/* --------------- Header ------------ */
.region-header{
    float: right;
    line-height: 25px;
}
#block-locale-language ul li{
    float: left;
    list-style: none;
    padding: 0 15px 0 0;
    display: block;
    overflow: hidden;
}
#block-locale-language ul li.active{
    font-weight: bold;
}
#block-locale-language ul li a{
    text-decoration: none;
}
/* --------------- Main wrapper ------------ */
h1.title{
    padding: 0px;
    font-family: Georgia, Verdana;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0 0 0;
}
h2{
    padding: 0px;
    font-family: Georgia, Verdana;
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0 0 0;

}
a,
a:visited,
a:active{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.field-type-image {
    display: block;
    overflow: hidden;
}
.field-type-image img{
    float: left;
    padding: 7px;
    background: #ffffff;
}
.field-name-field-tags .field-item{
    float: left;
    margin-right: 5px;
}
.field-name-field-tags .field-item a{
    text-decoration: underline;
}
.form-item{
    padding: 5px 0px;
    margin: 0 !important;
}
.node-page .content{
    display: block;
    overflow: hidden;
}

.node-page .links.inline{
    clear: both;
    display: inline-block;
    padding: 0px 10px;
    margin: 0;
    width: 100%;
}
#main-wrapper {
    position: relative;
}
#content{
    background-position: 0 0;
    background-repeat: no-repeat;
    position: absolute;
    left: 260px;
    top: -10px;
    width: 348px;
}
#content .section{
    color: #ffffff;
    margin-left: 11px;
    margin-top: 10px;
    opacity: 0.9;
    padding: 5px 10px;
    background: #bbbbbb;
}
#content-right {
    background-image: url("../images/top_masia_2.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    left: 632px;
    position: absolute;
    top: -10px;
    width: 477px;
}
#content-right .section {
    color: #000000;
    margin-left: 11px;
    margin-top: 10px;
    opacity: 0.9;
    padding: 10px;
    display: block;
    overflow: hidden;
}

/* --------------- Specific content section ------------ */
.page-tnid-1 #content{
    background-image: url("../images/top_proyecto_1.png");
}
.page-tnid-1 #content .section{
    background-color: #ee1997;
}
.page-tnid-4 #content {
    background-image: url("../images/top_masia_1.png");
    width: 348px;
}
.page-tnid-4 #content .section{
    background-color: #0fb69a;
    color: #000000;
}
.page-tnid-4 #content-right {
    background-image: url("../images/top_masia_2.png");
}
.page-tnid-4 #content-right .section {
    color: #000000;
}
.page-tnid-13 #content {
    width: 477px;
}
.page-tnid-13 #content .section{
    color: #000000;
}
.page-tnid-20 h1 {
    color: #f8a849;
}
.page-tnid-20 #content {
    background-image: url("../images/top_sala_gran_1.png");
}
.page-tnid-20 #content .section{
    background-color: #d2743e;
    color: #000000;
}
.page-tnid-21 #content {
    background-image: url("../images/top_recessos_1.png");
    width: 361px;
}
.page-tnid-21 #content .section{
    background-color: #5fa5d8;
}
.page-tnid-22 #content {
}
.page-tnid-22 #content .section{
}
.page-tnid-23 h1{
    color: #b18eaf;
}
.page-tnid-23 #content {
    background-image: url("../images/top_alimentacio_1.png");
    width: 287px;
}
.page-tnid-23 #content .section{
    background-color: #813689;
    margin-left: 10px;
}
.page-tnid-29 h1{
    color: #226168;
}
.page-tnid-29 #content {
    background-image: url("../images/top_contacto_2.png");
    width: 330px;
}
.page-tnid-29 #content .section{
    background-color: #fefbda;
    color:#000000;
}
.page-tnid-29 #content .section a{
    color:#000000;
}
.page-tnid-29 #content-right h2{
    color: #eeefd0;
}
.page-tnid-29 #content-right {
    background-image: url("../images/top_contacto_1.png");
    width: 191px;
}
.page-tnid-29 #content-right .section {
    color: #ffffff;
    background-color: #24646d;
}
.page-tnid-29 hr {
    border: none;
    height: 1px;
    color: #b9b49e;
    background-color: #b9b49e;
}
.page-tnid-29 .field-type-image{
    float: left;
}
.page-tnid-29 .field-type-file{
    float: left;
    margin: 33px 0 0 20px;
}
.page-newsletter-subscribe #content{
    background-image: url("../images/top_newsletter_1.png");
}
.page-newsletter-subscribe #content .section{
    background-color: #c6d12b;
}
.node-type-blog h1,
.page-taxonomy h1,
.page-blog h1{
    color: #fbeecb;
}
.node-type-blog #content,
.page-taxonomy #content,
.page-blog #content{
    background-image: url("../images/top_blog_1.png");
}
.node-type-blog #content .section,
.page-taxonomy #content .section,
.page-blog #content .section{
    background-color: #c2543d;
}
.node-type-blog #content-right,
.page-taxonomy #content-right,
.page-blog #content-right{
    background-image: url("../images/top_blog_2.png");
    width: 280px;
}
.node-type-blog #content-right .section,
.page-taxonomy #content-right .section,
.page-blog #content-right .section{
    background-color: #f58a9e;
    color: #ffffff;
}
#sidebar-first {
    width: 200px;
}
#sidebar-second {
    width: 200px;
    position: absolute;
    top: 5px;
    /* right: 10px; */
    left: 845px;
}

/* --------------- Quicktabs ------------ */
.quicktabs-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
}
.quicktabs-wrapper .item-list{
    position: absolute;
    right: 83px;
    display: block;
    width: 50px;
    overflow: hidden;
    float: right;
}
.quicktabs-tabs li{
    margin: 0px 0px 4px 0px;
    padding: 0px;
    background-image: none;
}
.quicktabs_main.quicktabs-style-navlist{
    background: #a5a87b;
    border: none;
    width: 330px;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active{
    background: none;
    border: none;
}
ul.quicktabs-tabs.quicktabs-style-navlist li.active a{
    background-position: -22px 0px;
    text-decoration: none;
}
ul.quicktabs-tabs.quicktabs-style-navlist li a{
    display: block;
    overflow: hidden;
    width: 11px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    text-decoration: none;
    height: 70px;
    color: #ff0000;
    background-image: url(../images/pestanyes_huerto02.png);
    text-indent: 4000px;
}

/* --------------- TagClouds block ------------ */
.block-tagclouds h2{
    margin: 10px 0px;
}
.block-tagclouds span{
    width: 100%;
    display: block;
    overflow: hidden;
}
/* --------------- Newsletter & nice messages ------------ */
.jGrowl,
#jGrowl .jGrowl-notification{
    color: #000000;
}
.jGrowl-closer{
    color: #ffffff !important;
}

.nl-wrapper-hidden{
    display: none;
}
.newsletter-button {
    color: #ffffff;
    cursor: pointer;
}
#newsletter-error{
    color: #ffffff;
    margin-bottom: 10px;
}

/* --------------- Footer ------------ */

#footer img{
    position: fixed;
    bottom: 0px;
}
#footer img.anton{
    left: 310px;
}
#footer img.laura{
    left: 580px;
}
